## Project Radar

This document contains current thinking around project Radar.

###### Import Dependencies

In [1]:
import pandas as pd 
import numpy as np 
import os 
import requests

### Overview

#### Generic Motivation

We are given *some* transactional data. Transactional data are interesting in nature. They can be studied  to understant certain behavioural profiles of the clients.

1. #total transactions -- 1807920587
2. #transactions with either Citi as sender or Citi as bene bank. -- 1630665952
        a. Citi as sender -- 629944895
        b. Citi as beneficiary -- 914241689
3. #transactions with both sender and bene as Non-Citi --  177254635

- Citi ----- Citi 
- Citi ----- Non-Citi 
- Non-Citi ----- Citi 
- Non-Citi ----- Non-Citi

- icggfatn_managed
- l4_txn_coredataset

#### Sql queries

Query to get initial partition of the dataset

select count(*) from l4_txn_coredataset where l4_txn_coredataset.send_bank_flow_type = 'Citi' and l4_txn_coredataset.bene_bank_flow_type = 'Citi';

select count(*) from l4_txn_coredataset where l4_txn_coredataset.send_bank_flow_type = 'Non-Citi' and l4_txn_coredataset.bene_bank_flow_type = 'Citi';

select count(*) from l4_txn_coredataset where l4_txn_coredataset.send_bank_flow_type = 'Citi' and l4_txn_coredataset.bene_bank_flow_type = 'Non-Citi';

#### Sanity Checks

In [19]:
total_transactions = 1807920587
citi_transactions = 1630665952
nonciti_transactions = 177254635 


print('total transactions equals to citi and non-citi transactions: ',total_transactions == citi_transactions + nonciti_transactions)

citi_sender = 629944895
citi_beneficiary = 914241689
citi_sender_beneficiary = 86479368

print('Different types of Citi transactions: ', citi_transactions == (citi_sender + citi_bene + citi_sender_beneficiary))

total transactions equals to citi and non-citi transactions:  True
Different types of Citi transactions:  True

#### Data Analysis

##### Get all the distinct transaction id's

## 1707213989
select count(distinct(l4_txn_coredataset.txn_id))
from l4_txn_coredataset ;

##### Flow Analysis

Get all the distinct country pairs and their number of transaction

select l4_txn_coredataset.send_bank_ctry_code, l4_txn_coredataset.bene_bank_ctry_code, count(*) as txn_count
from l4_txn_coredataset
group by l4_txn_coredataset.send_bank_ctry_code, l4_txn_coredataset.bene_bank_ctry_code ;

In [2]:
def getCoordinates(country, url = 'https://maps.googleapis.com/maps/api/geocode/json' ):
    
    params = {'sensor': 'false', 'address': country}
    r = requests.get(url, params=params)
    results = r.json()['results']
    if(len(results) == 0):
            ##retry
            #print('retrying')
            return getCoordinates(country)
    else:
        return results[0]['geometry']['location']

In [3]:
os.getcwd()

'D:\\gfa\\code'

In [4]:
cp = pd.read_csv(os.path.join(os.getcwd(), 'cp.csv'));

In [5]:
cp.head()

,l4_txn_coredataset.send_bank_ctry_code,l4_txn_coredataset.bene_bank_ctry_code,txn_count
0,NaN,NaN,137723
1,NaN,DZ,2262
2,AG,JO,4
3,AM,DO,13
4,AO,BO,10

#### Data Prepration

##query for time taken for a transaction by source system name and 
select l4_txn_coredataset.source_system_name, 
       l4_txn_coredataset.txn_type,
       l4_txn_coredataset.booking_date, 
       l4_txn_coredataset.value_date,
       datediff(l4_txn_coredataset.booking_date, l4_txn_coredataset.value_date) as timetoclear  
       l4_txn_coredataset.send_bank_flow_type,
       l4_txn_coredataset.bene_bank_flow_type
       
from l4_txn_coredataset
limit 10;